<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent direct access to sensitive files
    RedirectMatch 404 /\.(env|git|config|lock|json)$
    RedirectMatch 404 /composer\.(json|lock)$
    RedirectMatch 404 /package(-lock)?\.json$

    # Send everything to the public/ directory transparently
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
